body,#slider,.wrap,.slide-content{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x:hidden;
}
.wrap{
position: relative;
}

.slide{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide1{
    background-image: url("../images/image1.jpg");
}
.slide2{
    background-image: url('../images/image2.jpg');
}
.slide3{
    background-image: url('../images/image3.jpg');
}
.slide-content{
    display:flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
}

.slide-content span {
    font-size: 5rem;
    color:#fff;
}

.arrow{
    height: 0px;
    width:0px;
    position: absolute;
    border-style:solid;
    top: 50%;

    cursor: pointer;
}
#arrow-left{
    border-color:transparent #fff transparent transparent;
    border-width: 30px 40px 30px 0px;
    left: 0px;
    margin-left:30px;
    
}

#arrow-right{
    border-color: transparent transparent transparent #fff;
    border-width: 30px 0px 30px 40px;
    right: 0px;
    margin-right:40px;   
}